<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>URL Shortener</title>
</head>
<body>
    <h1>Short your URL</h1>
    <p>Use the form below to create your short URL.</p>

    <form action="/shorturl" method="post" autocomplete="off">
        <label for="longUrl">Link:</label> <input type="text" name="longUrl" id="longUrl" placeholder="https://site.example/" required>
        <button type="submit">Short</button>
    </form>
</body>
</html>